@page "/"
@inherits PageBase

@*<PageHeader Title="Dashboard" User="@User" />*@
<PageHeader Title="Dashboard"/>

<div class="contentsecinner">
    <h1>Hello, world!</h1>

    Welcome to your new app.
</div>
