@page "/pipeline/configure-icp"
@using Sam.Web.FrontEnd.Blazor.Components

@inherits SamPageBase

    
        <div class="sam-content-inner">
            <div class="d-flex align-items-center justify-content-between flex-sm-row flex-column mt-2 mt-lg-0">
                <PageTitle Text="Configure ICP" />
                <div>
                    <Button Text="Search" />
                    <Button Text="Add Category" />
                </div>
            </div>

            <div class="mt-4">

                <div class="row">

                    <div class="col-md-12 col-lg-6 mb-4">
                        <div class="sam-input-group p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <div class="configTitle">
                                    <h4>Background</h4>
                                </div>
                                <Button Text="Add Item" />
                            </div>

                            <EntryRow>
                                <CheckBox Text="Country" />
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Select"/>
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="Location" />
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Select" />
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="Industry" />
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Select" />
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="Business Model" />
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Select" />
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="Years Established" />
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Select" />
                                </div>
                            </EntryRow>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-6 mb-4">
                        <div class="sam-input-group p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <div class="configTitle">
                                    <h4>Social</h4>
                                </div>
                                <Button Text="Add Item" />
                            </div>

                            <EntryRow>
                                <CheckBox Text="NPS Score" />
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Min" Data="mr-2" />
                                    <DropDown Text="Max" Data="mr-2" />
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="Linkedin Followers"/>
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Min" Data="mr-2" />
                                    <DropDown Text="Max" Data="mr-2" />
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="Facebook Followers"/>
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Min" Data="mr-2" />
                                    <DropDown Text="Max" Data="mr-2" />
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="Twitter Followers"/>
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Min" Data="mr-2" />
                                    <DropDown Text="Max" Data="mr-2" />
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="Instragram Follwoers"/>
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Min" Data="mr-2" />
                                    <DropDown Text="Max" Data="mr-2" />
                                </div>
                            </EntryRow>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-6 mb-4">
                        <div class="sam-input-group p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <div class="configTitle">
                                    <h4>Financial</h4>
                                </div>
                                <Button Text="Add Item" />
                            </div>

                            <EntryRow>
                                <CheckBox Text="Market Cap" />
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Min" Data="mr-2" />
                                    <DropDown Text="Max" Data="mr-2" />
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="Revenue"/>
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Min" Data="mr-2" />
                                    <DropDown Text="Max" Data="mr-2" />
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="Employees"/>
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Min" Data="mr-2" />
                                    <DropDown Text="Max" Data="mr-2" />
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="Financial Year"/>
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Select" />
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="Stock Price"/>
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Select" />
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="Credit Rating"/>
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Select" />
                                </div>
                            </EntryRow>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-6 mb-4">
                        <div class="sam-input-group p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <div class="configTitle">
                                    <h4>Technology</h4>
                                </div>
                                <Button Text="Add Item" />
                            </div>

                            <EntryRow>
                                <CheckBox Text="ERP" />
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Select" />
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="CRM" />
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Select" />
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="Financial" />
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Select" />
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="Distribution/WH" />
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Select" />
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="Help Desk" />
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Select" />
                                </div>
                            </EntryRow>

                            <EntryRow>
                                <CheckBox Text="Database" />
                                <div class="sam-dropdown w-100">
                                    <DropDown Text="Select" />
                                </div>
                            </EntryRow>
                        </div>
                    </div>

                </div>
            </div>
        </div>   

@code {

}