@page "/pipeline/loading"
@using Sam.Web.FrontEnd.Blazor.Components

@inherits SamPageBase

<div style="position: relative; top: 50%; transform: translateY(-50%);">
    <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="padding-left: 10px;"><Changingicon></Changingicon></div>
            <div class="col-md-4"></div>
    </div>

<div style="text-align:center">Loading</div>
    <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="padding-left: 0px;"><Progressbar></Progressbar></div>
            <div class="col-md-4"></div>
    </div>
</div>


@code {

}
