@page "/pipeline/suspects"
@using Sam.Web.FrontEnd.Blazor.Components

@inherits SamPageBase
<div class="sam-content-inner">
    <PageTitle Text="Suspects" /><br />
    <div class="d-flex align-items-center justify-content-between flex-sm-row flex-column mt-2 mt-lg-0">
        <div class="sam-title">
            <h3 class="mb-2 mb-sm-0" style="padding-bottom:20px;">Filter</h3>
        </div>
    </div>
   
   <EntryRow>
        <DropDown Text="Countries"/>
        <DropDown Text="Industries"/>
        <DropDown Text="Credit Rating"/>
        <DropDown Text="Linkedin Followers"/>
        <DropDown Text="Applications"/>
    </EntryRow>

    <EntryRow>
        <DropDown Text="Revenue Min"/>
        <DropDown Text="Revenue Max"/>
        <DropDown Text="Employee Min"/>
        <DropDown Text="Employee Max"/>
        <DropDown Text="Valuation Min"/>
    </EntryRow>
    <br />
    
    <div class="d-flex align-items-center justify-content-between flex-sm-row flex-column mt-2 mt-lg-0">
        <div class="sam-title">
            <h3 class="mb-2 mb-sm-0" style="padding-top:20px;">Results</h3>
        </div>
    </div>
    <div class="sam-input-group p-4" style="margin-top:20px;">
                <table class="sam-table table footable">
                    <thead>
                        <tr>
                            <th width="160" align="center">Company Name<img src="images/arrow-down.svg" alt="..." style="padding-left:1px;"></th>
                            <th>Region<img src="images/arrow-down.svg" alt="..." style="padding-left: 2px;"></th>
                            <th data-hide="phone,tablet" class="mdwidthTable" align="center">Industry<img src="images/arrow-down.svg" alt="..." style="padding-left: 2px;"></th>
                            <th data-hide="phone,tablet" align="center">Revenue<img src="images/arrow-down.svg" alt="..." style="padding-left: 2px;"></th>
                            <th data-hide="phone,tablet" align="center">Source<img src="images/arrow-down.svg" alt="..." style="padding-left: 2px;"></th>
                            <th data-hide="phone,tablet" align="center">ICP %Match<img src="images/arrow-down.svg" alt="..." style="padding-left: 2px;"></th>
                            <th data-hide="phone,tablet" align="center">Assign<img src="images/arrow-down.svg" alt="..." style="padding-left: 2px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="160" align="center">Sam.Coach</td>
                            <td>Asia</td>
                            <td>Pharmaceutical</td>
                            <td>$6B</td>
                            <td>CRM</td>
                            <td>99%</td>
                            <td>
                                <DropDown Text="Select"/>
                            </td>
                        </tr>
                        <tr>
                            <td width="160" align="center">Sam.Coach Expert</td>
                            <td>Europe</td>
                            <td>IT & Technology</td>
                            <td>$3.2B</td>
                            <td>CRM</td>
                            <td>98%</td>
                            <td>
                                <DropDown Text="Select"/>
                            </td>
                        </tr>
                        <tr>
                            <td width="160" align="center">Sam.Coach Advance</td>
                            <td>Australia</td>
                            <td>Energy</td>
                            <td>950M</td>
                            <td>Internet</td>
                            <td>87%</td>
                            <td>
                                <DropDown Text="Select"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

@code {

}
