@page "/meetingprep/objectives"
@using Sam.Web.FrontEnd.Blazor.Components;
@using Sam.Data.Model
@using Services

@inherits SamPageBase

@inject ISamDataService SamData

<div class="sam-content-inner">
    <div class="d-flex align-items-center justify-content-between flex-sm-row flex-column mt-2 mt-lg-0">
        <div class="customSelect w-100">
            <div class="sam-right-field-icon">
                <input type="text" class="form-control" placeholder="02/06/2020">
                <span><img src="images/Date.svg" alt=""></span>
            </div>
        </div>
        <DropDownGroup>
            <DropDown Selectables="@(Allots.Select(allot => (allot.Id, allot.Name)))" @bind-Selected="@model.AllotId" />
        </DropDownGroup>
        <DropDownGroup>
            <DropDown Selectables="@(Companies.Select(company => (company.Id, company.Name)))" @bind-Selected="@model.CompanyId" />
        </DropDownGroup>
        <div class="customSelect w-100">
            <div class="sam-right-field-icon">
                <input type="text" class="form-control">
                <span><img src="images/SImage.png" alt=""></span>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <div class="tab-content">
            <div role="tabpanel">
                <div class="row align-items-center">
                    <div class="col-md">
                        <PageTitle Text="Objective" />
                    </div>
                    <div class="col-md">
                        <div class="btnsec text-right">
                            <Button Text="Question Composer" />
                        </div>
                    </div>
                </div>
                <div class="card card-primary mt-4">
                    <div class="tablecstm meetingpreparation table-responsive-md spaceLess">
                        <Card Text="" Displayvalue="d-block" />
                        <table class="table footable">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Proposed Discussion Points</th>
                                    <th>Stakeholder</th>
                                    <th>Title</th>
                                    <th>Time Allocation</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Understand Alcheme’s operating environment, company culture, business objectives</td>
                                    <td>Joanna Campbell</td>
                                    <td>CIO</td>
                                    <td>15 mins</td>
                                    <td><span class="sam-card-obj-badge badge-success">90%</span></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Understand some of the key chalenges that Alcheme IT team are facing</td>
                                    <td>Aaron Smith</td>
                                    <td>Team Lead</td>
                                    <td>20 mins</td>
                                    <td><span class="sam-card-obj-badge badge-primary">70%</span></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Define the requirements of what Alcheme is trying to accomplish with the integration</td>
                                    <td>Nashi Purcell</td>
                                    <td>BA</td>
                                    <td>30 mins</td>
                                    <td><span class="sam-card-obj-badge bg-primary">70%</span></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Understand the constraints surrounding the project</td>
                                    <td>Jason Bourne</td>
                                    <td>Business Development Manager</td>
                                    <td>25 mins</td>
                                    <td><span class="sam-card-obj-badge bg-danger">50%</span></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Define the time frame for the project</td>
                                    <td>Katie Perry</td>
                                    <td>Presales Consultant</td>
                                    <td>18 mins</td>
                                    <td><span class="sam-card-obj-badge badge-success">80%</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card card-primary mt-4">
                    <div class="tablecstm meetingpreparation table-responsive-md spaceLess">
                        <Card Text="Recommendation" Displayvalue="d-none" />
                        <ul class="nav nav-tabs nav-justified" id="recoTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="ceo-tab" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="ceo" aria-selected="true">CEO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="cio-tab" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="cio" aria-selected="false">CIO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="cfo-tab" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="cfo" aria-selected="false">CFO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="cto-tab" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="cto" aria-selected="false">CTO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="coo-tab" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="coo" aria-selected="false">COO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="itm-tab" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="itm" aria-selected="false">IT Manager</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="apm-tab" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="apm" aria-selected="false">Application Manager</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="itm-tab" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="itm" aria-selected="false">Infarstructure Manager</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="su-tab" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="su" aria-selected="false">Super User</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="recoTabContent">
                            <div class="tab-pane fade show active" id="ceo" role="tabpanel" aria-labelledby="ceo-tab">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="sam-title">
                                            <h3>
                                                <a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)"><img class="sam-card-image" src="images/plus.png" alt="...">Company strategic objective</a>
                                            </h3>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse in">
                                            <div class="panel-body">Understand company strategic objective for the next 5 years.</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="sam-title">
                                            <h3>
                                                <a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)"><img class="sam-card-image" src="images/plus.png" alt="...">Company service offering</a>
                                            </h3>
                                        </div>
                                        <div id="collapse2" class="panel-collapse collapse">
                                            <div class="panel-body">Understand company core service offering.</div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="sam-title">
                                                <h3>
                                                    <a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)"><img class="sam-card-image" src="images/plus.png" alt="...">Company culture and business objectives</a>
                                                </h3>
                                            </div>
                                            <div id="collapse3" class="panel-collapse collapse">
                                                <div class="panel-body">Understand company operating enviornment culture and business objectives.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    IEnumerable<Allot> Allots => SamData.Allots;
    IEnumerable<Company> Companies => SamData.Companies;

    protected override async Task OnInitializedAsync()
    {
        await SamData.InitializeAsync();
    }


    class Model
    {
        //Allot Data
        public string AllotId { get; set; }

        //Company Data
        public string CompanyId { get; set; }
    }

    Model model = new Model();

}
