@page "/meetingpreparation/suspects"
@using Sam.Web.FrontEnd.Blazor.Components;
@using Sam.Data.Model
@using Services

@inherits SamPageBase

@inject ISamDataService SamData

<div class="sam-content-inner">
    <div class="d-flex align-items-center justify-content-between flex-sm-row flex-column mt-2 mt-lg-0">
        <div class="customSelect w-100">
            <div class="sam-right-field-icon">
                <input type="text" class="form-control" placeholder="02/06/2020">
                <span><img src="images/Date.svg" alt=""></span>
            </div>
        </div>
        <DropDownGroup>
            <DropDown Selectables="@(Allots.Select(allot => (allot.Id, allot.Name)))" @bind-Selected="@model.AllotId" />
        </DropDownGroup>
        <DropDownGroup>
            <DropDown Selectables="@(Companies.Select(company => (company.Id, company.Name)))" @bind-Selected="@model.CompanyId" />
        </DropDownGroup>
        <div class="customSelect w-100">
            <div class="sam-right-field-icon">
                <input type="text" class="form-control">
                <span><img src="images/SImage.png" alt=""></span>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <div class="tab-content">
            <!-- Attendees Section :: Start -->
            <div role="tabpanel">
                <div class="tabheader">
                    <div class="row align-items-center">
                        <div class="col-md">
                            <PageTitle Text="Objectives" />
                        </div>
                        <div class="col-md">
                            <Button Text="Question Composer" />
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="card card-primary">
                        <div class="tablecstm meetingpreparation table-responsive-md spaceLess" style="background: #fafafc; border-radius: 8px;">
                            <div class="card-header" style="background: #fafafc">
                                <div class="card-tools" style="text-align:right;">
                                    <button type="button" class="btn btn-tool ">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </button>
                                </div>
                            </div>
                            <table class="table footable">
                                <thead>
                                    <tr>
                                        <th style="width:160px; align=center;">Linkedin Profile</th>
                                        <th>Name</th>
                                        <th data-hide="phone,tablet" class="mdwidthTable">Position</th>
                                        <th data-hide="phone,tablet">Company</th>
                                        <th data-hide="phone,tablet">Association</th>
                                        <th data-hide="phone,tablet">Attendence</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width:160px; align=center;">
                                            <span class="tableuserimg">
                                                <img src="images/userimg1.png" alt="">
                                            </span>
                                        </td>
                                        <td>Joanna Campbell</td>
                                        <td>CIO</td>
                                        <td>Alcheme</td>
                                        <td>ACS</td>
                                        <td><span class="bg-success" style="border-radius: .25rem;padding: .25em .4em;color: white;">Accepted</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:160px; align=center;">
                                            <span class="tableuserimg">
                                                <img src="images/userimg2.png" alt="">
                                            </span>
                                        </td>
                                        <td>Aaron Smith</td>
                                        <td>Team Lead</td>
                                        <td>Alcheme</td>
                                        <td></td>
                                        <td><span class="bg-success" style="border-radius:0.25rem; padding:0.25em 0.4em; color:white;">Accepted</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:160px; align=center;">
                                            <span class="tableuserimg">
                                                <img src="images/userimg3.png" alt="">
                                            </span>
                                        </td>
                                        <td>Nashi Purcell</td>
                                        <td>BA</td>
                                        <td>Alcheme</td>
                                        <td>IEA</td>
                                        <td><span class=" bg-success" style="border-radius: .25rem;padding: .25em .4em;color: white;">Accepted</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:160px; align=center;">
                                            <span class="tableuserimg">
                                                <img src="images/userimg.jpg" alt="">
                                            </span>
                                        </td>
                                        <td>Jason Bourne</td>
                                        <td>Business Development Manager</td>
                                        <td>SAM</td>
                                        <td></td>
                                        <td><span class=" bg-danger" style="border-radius: .25rem;padding: .25em .4em;color: white;">Declined</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:160px; align=center;">
                                            <span class="tableuserimg">
                                                <img src="images/userimg5.png" alt="">
                                            </span>
                                        </td>
                                        <td>Katie Perry</td>
                                        <td>Presales Consultant</td>
                                        <td>SAM</td>
                                        <td></td>
                                        <td><span class=" badge-primary" style="border-radius: .25rem;padding: .25em .4em;color: white;">Pending</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    IEnumerable<Allot> Allots => SamData.Allots;
    IEnumerable<Company> Companies => SamData.Companies;

    protected override async Task OnInitializedAsync()
    {
        await SamData.InitializeAsync();
    }


    class Model
    {
        //Allot Data
        public string AllotId { get; set; }

        //Company Data
        public string CompanyId { get; set; }
    }

    Model model = new Model();

}
