<div class="sam-footbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyrightsec text-center">
                    Copyright © 2019 SAM.Coach. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</div>