@inherits LayoutComponentBase

<section class="">
    <Sidebar />
    <div class="contentsec">
        <PageHeader Title="Dashboard" />
        <div>
            @Body
        </div>
    </div>
</section>