@inject NavigationManager _uriHelper

<header>

    <div class="topheader">
        <div class="container-fluid">
            <div class="form-row align-items-center justify-content-center">
                <div class="col-auto d-lg-none align-self-center">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <div class="mobllogo">
                                <a href="meeting-preparation.html"><img src="images/logoblue.png" alt="Logo"></a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="navtoggle" @onclick="ToggleNavMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    @Title
                </div>
                <div class="col" style="margin-right:60px">
                    <div class="topmenu text-right">
                        <ul class="iconmenu">
                            <li class="searchmenu">
                                <a href="javascript:void(0)">
                                    <img width="24" src="images/search.svg" alt="">
                                </a>
                            </li>
                            <li class="settingmenu">
                                <a href="javascript:void(0)">
                                    <img width="24" src="images/settings.svg" alt="">
                                </a>
                            </li>
                            <li class="notificationmenu">
                                <a href="javascript:void(0)">
                                    <img width="24" src="images/notification.svg" alt="">
                                    <span class="badge badge-danger">2</span>
                                </a>
                            </li>

                            @*<li class="usermenu">
                                <a href="javascript:void(0)">
                                    <p class="userimg"><img src="images/userimg.jpg" alt=""></p>
                                    <p class="userinfo">
                                        <span>
                                            <a href="/myprofile">@User?.Fullname</a>
                                            <EjsMenu @ref="Menu" Items="@MenuItems" Fields="@MenuFields" ShowItemOnClick="true">
                                                <MenuEvents ItemSelected="itemSelected" />
                                            </EjsMenu>
                                        </span>

                                        <span class="lastactive">@User?.LastLogin</span>
                                    </p>
                                </a>

                            </li>*@

                            <li class="usermenu">
                                @*<style>
                                #user-image {
                                    border-radius:50%;
                                    height:48px;
                                    width:48px;
                                }
                                </style>*@
                                <img class="user-image" src="images/userimg.jpg" alt="" >
                                <span>
                                    <a href="/myprofile">User?.Fullname</a>
                                    <a href="/myprofile">Menu</a>
                                </span>
                                <span class="lastactive">User?.LastLogin</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

    @*<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
       <Sidebar Bartype="SidebarTypes.collapsed"/>
    </div>*@

<style>


    .e-menu-wrapper ul .e-menu-item .e-caret {
        font-size: 10px;
        height: auto;
        line-height: 52px;
        position: absolute;
        right: 12px;
        width: auto;
    }

    .e-menu-wrapper ul .e-menu-item {
        cursor: pointer;
        position: relative;
        display: -ms-inline-flexbox;
        display: inline-flex;
        height: 30px;
        line-height: 42px;
        padding: 0 12px;
        vertical-align: top;
        white-space: nowrap;
    }

        .e-menu-wrapper ul .e-menu-item.e-menu-caret-icon {
            padding-right: 10px;
        }

        .e-menu-wrapper ul .e-menu-item.e-selected {
            color: rgba(0, 0, 0, 0.87);
            outline: 0 solid #e0e0e0;
            outline-offset: 0;
            background-color: white;
        }

        .e-menu-wrapper ul .e-menu-item.e-focused {
            color: rgba(0, 0, 0, 0.87);
            outline: 0 solid #e0e0e0;
            outline-offset: 0;
            background-color: white;
        }
    
    .navlist {
        width: 275px;
        
    }
    
</style>



@code
{
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    [Parameter] public string Title { get; set; }
    //[Parameter] public IUserLoginResponse User { get; set; }

    //EjsMenu Menu;

    List<object> MenuItems = new List<object>
    {
        new
        {
            header = " ",
                    subItems = new List<object>() {
                        new { text= "My Profile" },
                        new { text= "Change Password" },
                        new { text= "Logout" }
                    }
        }
    };

    //public MenuFieldSettings MenuFields = new MenuFieldSettings()
    //{
    //    IconCss = "icon",
    //    Text = new string[] { "header", "text", "value" },
    //    Children = new string[] { "subItems", "options" }
    //};

    //private void itemSelected(MenuEventArgs arg)
    //{
    //    if (arg.Item.Text == "My Profile")
    //    {
    //        _uriHelper.NavigateTo("/myprofile");
    //    }

    //    if (arg.Item.Text == "Logout")
    //    {
    //        _uriHelper.NavigateTo("/login");
    //    }

    //    if (arg.Item.Text == "Change Password")
    //    {
    //        _uriHelper.NavigateTo("/changepassword");
    //    }
    //}

}