<div class="app-sidebar-submenu">
    <ul >
        <li><h4>Pipeline</h4></li>
        <li><a href="sam_Pipeline_Configure_ICP.html">Configure ICP</a></li>
        <li><a href="sam_Pipeline_Suspects.html">Suspects</a></li>
    </ul>
</div>
@code {

}
