@inject NavigationManager _uriHelper

    <div class="sam-topbar">
        <div class="container-fluid">
            <div class="form-row align-items-center justify-content-center">                
                <div class="col-auto ml-auto">
                    <div class="sam-topbar-menu text-right">
                        <div class="d-none d-lg-inline-block mr-3">
                            <div class="mx-1 d-none d-lg-inline-block"><button type="button" class="btn bg-white">+ Client</button></div>
                            <div class="mx-1 d-none d-lg-inline-block"><button type="button" class="btn bg-white">+ Meeting</button></div>
                            <div class="mx-1 d-none d-lg-inline-block"><button type="button" class="btn bg-white">CRM SYNC</button></div>
                        </div>
                        <ul>
                            <li class="separator">Agenda</li>
                            <li class="separator">
                                <a href="javascript:void(0)">
                                    <img width="24" src="images/settings.svg" alt="">
                                </a>
                            </li>
                            <li class="separator">
                                <a href="javascript:void(0)">
                                    <img width="24" src="images/notification.svg" alt="">
                                    <span class="badge badge-danger">2</span>
                                </a>
                            </li>
                            <li class="usermenu separator">
                                <a href="javascript:void(0)">
                                    <p class="userimg"><img src="images/Rupak.jpg" alt=""></p>
                                    <p class="userinfo">
                                        <span class="username">Rupak C</span>
                                        <span class="lastactive">Last Login 03/06/2020</span>
                                    </p>
                                </a>                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

@code
{
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    [Parameter] public string Title { get; set; }
    //[Parameter] public IUserLoginResponse User { get; set; }

    //EjsMenu Menu;

    List<object> MenuItems = new List<object>
{
        new
        {
            header = " ",
                    subItems = new List<object>() {
                        new { text= "My Profile" },
                        new { text= "Change Password" },
                        new { text= "Logout" }
                    }
        }
    };
}