@import "sam/login.css";
@import "sam/sidebar.css";
@import "sam/topbar.css";

/*HTML*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #f7f9fb; */
    background-color: #eef1f6;
    position: relative;
}

img {
    max-width: 100%;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/*Named*/
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/*Classes*/
.sam-right-field-icon {
    position: relative;
}
.sam-field-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    pointer-events: none;
}
.sam-field-icon > img {
    width: 17px;
}

.sam-content {
    padding: 78px 0 78px 100px;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.sam-content-inner {
    padding: 50px 50px;
}

.sam-label-style {
    color: #2c344f;
    font-weight: 600;
    font-size: 12px;
}

.sam-input-group {
    background: #fafafc;
    border-radius: 8px;
}

.sam-dropdown {
    display: flex;
}

.sam-dropdown > span {
    max-width: 100%;
    width: 100%;
}

.sam-dropdown > span > select {
    background: #fff;
    border: 1px solid #e7eaef;
    border-radius: 6px;
    height: 52px;
    text-transform: capitalize;
    padding: 5px 25px 5px 18px;
    width: 100%;
}

.selectArrow {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
}
.sam-title h3 {
    padding-bottom: 20px;
    color: #2a3547;
    font-size: 20px;
    font-weight: 600;
}
.sam-table thead tr {
    border: 0;
    text-align: left;
}

.sam-table td{
    border: 0;
    text-align: left;
}

.sam-table tr{
    border-top: 6.5px solid rgba(163,163,163,0.1);
}

.sam-content-inner button {
    border: 1px solid #e7eaef;
    border-radius: 6px;
    height: 43px;
    padding: .375rem 1.1rem;
}
