<div class="custom-control custom-checkbox w-100 mb-1 mb-sm-0">
    <input type="checkbox" class="custom-control-input" id="rememberCheck1" @bind="@_Checked">
    <label class="custom-control-label" for="rememberCheck1">@Text</label>
</div>

@code {
    [Parameter] public string Text { get; set; }
    [Parameter] public bool Checked { get; set; }
    [Parameter] public EventCallback<bool> CheckedChanged { get; set; }

    bool _Checked { get => Checked; set => Task.Run(async () => await UpdateChanged(value)); }
    async Task UpdateChanged(bool value) => await CheckedChanged.InvokeAsync(value);


}
