<div class="custom-control custom-checkbox checkBoxStyle w-100 mb-1 mb-sm-0">
    <input type="checkbox" class="custom-control-input" id="rememberCheck1">
    <label class="custom-control-label" for="rememberCheck1">Country</label>
</div>

@code {
}
