<div class="customSelect w-100">
    <span class="selectStyle">
        <span class="selectArrow"><img src="images/arrow-down.svg" alt="..."></span>
        <select class="form-control">
            <option value="" selected="">select</option>
            <option value="1">1</option>
            <option value="4">4</option>
        </select>
    </span>
</div>

@code {

}
