<div class="sam-dropdown w-100">
    <span>
        <select>
            <option value="" selected="">@Text</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="1">3</option>
            <option value="4">4</option>
        </select>
    </span>
</div>

@code {
    [Parameter] public string Text { get; set; }
}
