@using System.Reflection
@using System.Text.RegularExpressions

@inject NavigationManager Nav

<div class="sam-sidebar">
    <div class="sam-sidebar-mainlogo d-lg-block d-none">
        <a href="/">
            <img src="images/logoblue.png" alt="Logo">
        </a>
    </div>
    <div class="d-lg-none d-block">
        <a href="javascript:void(0)">
            <img src="images/close.svg" alt="...">
        </a>
    </div>
    <ul>
        <li>
            <a href="/">
                <img width="22" src="images/home.svg" alt="">
                <span>Home</span>
            </a>
        </li>
        <li @onclick=@(() => Show("pipeline"))>
            <a href="javascript:void(0)">
                <img width="22" src="images/Meeting-Prepartion.svg" alt="">
                <span>Meeting Preparation</span>
            </a>
        </li>
        <li>
            <a href="/agendas">
                <img width="26" src="images/Agenda.svg" alt="">
                <span>Agenda</span>
            </a>
        </li>
        <li>
            <a href="/meetings">
                <img width="26" src="images/Meeting-notes.svg" alt="">
                <span>Meeting Notes</span>
            </a>
        </li>
        <li>
            <a href="opportunities.html">
                <img width="26" src="images/Sales-Opportunities.svg" alt="">
                <span>Sales Opportunities</span>
            </a>
        </li>
        <li>
            <a href="reports.html">
                <img width="29" src="images/Sales-Reports.svg" alt="">
                <span>Sale Reports</span>
            </a>
        </li>

        <li>
            <a href="/settings">
                <img width="29" src="images/settings.svg" alt="">
                <span>Settings</span>
            </a>
        </li>
    </ul>
</div>

@if (showpipeline)
{
    <SideBarSubMenu Title="Pipeline">
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/pipeline/configure-icp"))">Configure ICP</a></li>
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/pipeline/suspects"))">Suspects</a></li>
    </SideBarSubMenu>
}

@code {
    bool showpipeline;
    void Show(string what, bool? show = null)
    {
        var pi = GetType().GetField($"show{what}", BindingFlags.NonPublic | BindingFlags.Instance);
        if (show == null) show = !(bool)pi.GetValue(this);
        pi.SetValue(this, show);
    }
    void GoTo(string path)
    {
        var major = Regex.Match(path, @"\/(.+)\/").Groups[1].Value;
        Show(major, false);
        Nav.NavigateTo(path);
    }
}