<ul class="sam-sidebar-submenu" style=" padding-top: 40px; ">
    @*<li style="padding-top:0;"><h4>Pipeline</h4></li>
    <li><a href="javascript:void(0)">Configure ICP</a></li>
    <li><a href="javascript:void(0)">Suspects</a></li>*@
    <li style="padding-top:0;"><h4>@Title</h4></li>
    @ChildContent
</ul>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
