<div class="card-header">
    <div class="d-flex justify-content-between">
        <div class="sam-title">
            <h3>@Text</h3>
        </div>
        <button type="button" class="@Displayvalue">
            <img class="sam-card-image" src="images/edit.svg" alt="...">
        </button>
    </div>
</div>

@code { 
    [Parameter] public string Text { get; set; }
    [Parameter] public string Displayvalue { get; set; } 
}
