@inherits SamComponentBase

<div class="progress">
  <div class="progress-value"></div>
</div>

<style>
.progress {
  background: rgba(170, 174, 181,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  margin-top: 10px;
  display: flex;
  height: 40px;
  width: 500px;
}

.progress-value {
  animation: load 13s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #122341;
  height: 30px;
  width: 0;
}

@@keyframes load {
  0% { width: 0; }
  100% { width: 96%; }
}
</style>
@code {


}
