.sam-sidebar-mainlogo {
    padding: 22px 10px;
    position: absolute;
    top: 0;
}

.sam-sidebar > ul > li {
    position: relative;
}
.sam-sidebar ul li a span {
    display: none;
    color: #fff;
    margin-top: 10px;
}

.sam-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9;
    box-shadow: 0 0 20px rgba(61,61,61,0.12);
    display: flex;
    align-items: flex-start;
    padding: 80px 0;
}

.sam-sidebar ul {
height: calc(100vh - 78px);
/* overflow-y: auto; */
}
.sam-sidebar ul li {
text-align: center;
}

.sam-sidebar ul li a {
    padding: 20px 35px;
    text-align: center;
    display: block;
}
.sam-sidebar ul li.active a, .sam-sidebar ul li a:hover {
    background-color: #e40139;
}

    .sam-sidebar ul li.active a img, .sam-sidebar ul li a:hover img {
        filter: brightness(0) invert(1);
    }

.sam-sidebar ul li a, .sam-sidebar ul li a img {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}


.sam-sidebar-submenu {
    display: block;
    position: absolute;
    background: #fafafc;
    color: #0f2443;
    height: 100vh;
    top: 78px;
    bottom: 0;
    right: auto;
    left: 100px;
    width: 260px;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    overflow-y: auto;
}

    .sam-sidebar-submenu li {
        text-align: left;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        border-bottom: 1px solid #f0f1f3;
        position: static;
        padding-bottom: 22px;
        padding-top: 22px;
    }

    .sam-sidebar-submenu h4 {
        font-weight: 600;
        margin: 6px 0;
        text-transform: capitalize;
        padding-left: 25px;
    }

    .sam-sidebar-submenu li a {
        background: inherit;
        padding: 0;
        text-align: left;
        padding: 25px 35px;
    }

