.sam-topbar {
    background: #fff;
    padding: 15px 15px 15px 110px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
    border-bottom: 1px solid #e6ebf1;
}

.sam-topbar-menu > div > div > button {
    border: 1px solid #e4ebf5;
    border-radius: 4px;
    padding: 8px 16px;
}

.sam-topbar-menu ul li a p.userinfo span.badge {
    font-size: 9px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-weight: 500;
    text-align: center;
    vertical-align: baseline;
    border-radius: 50%;
    position: absolute;
    content: '';
    right: 0px;
    padding: 0;
}

.sam-topbar-menu > ul > li {
    display: inline-block;
    position: relative;
}

.sam-topbar-menu > ul > li > a > p {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
 }

.sam-topbar-menu ul li a p span {
    display: block;
    text-align: left;
}

.sam-topbar-menu ul li a p.userimg img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.sam-topbar-menu ul li a p.userinfo span.username {
    font-size: 15px;
    font-weight: 600;
    color: #0e2243;
}

.sam-topbar-menu ul li a p.userinfo span.lastactive {
    font-weight: 500;
    color: #b1bed4;
    font-size: 11px;
}

.sam-topbar-menu > ul > li > a > p.userimg {
    margin-right: 5px;
}

.sam-topbar-menu > ul > li.usermenu > a {
    display: block;
    position: relative;
    padding-right: 30px;
}

.sam-topbar-menu > ul {
    display: inline-block;
}

.sam-topbar-menu > ul > li > a {
    color: #0e2244;
    font-size: 14px;
    font-weight: 600;
 }

.sam-topbar li.separator::before {
    content: "";
    position: absolute;
    border-right: 1px solid #e4ebf3;
    top: -26px;
    bottom: 0;
    height: 78px;
    margin-left: -2px;
    left: 0;
}

.sam-topbar li.separator {
    margin: 0;
    padding: 0 25px;
}
